- @title = "Refresh Road Trip"

= partial "partials/header"
= partial "partials/events"
= partial "partials/speakers"
= partial "partials/updates"
= partial "partials/sponsors"
= partial "partials/footer"
